@model Escuela.Entidades.Course
@{
    ViewData["Title"] = "Datos";
}
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://kit.fontawesome.com/c7b6e5d378.js" crossorigin="anonymous"></script>
    

</head>
<body>
    <div class="animate__animated animate__fadeInLeft">
        
            @using (Html.BeginForm("Guardar", "Course", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.CourseId, new { Type = "hidden", required = "required" })
                <br />
                @Html.LabelFor(x => x.Title, "Curso")
                <br />
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "required" })
                <br />
                @Html.LabelFor(x => x.Credits, "Creditos")
                <br />
                @Html.TextBoxFor(x => x.Credits, new { @class = "form-control", required = "required" })
                <br />
                <input type="submit" value="Guardar" class="bnt btn-primary" />
            }
        </div>
    </body>
